<div class='card'>
  <div class='card-header'>
    <h3>
    {{pageTitle}}
    </h3>
  </div>

  <div class='card-body' *ngIf="!errorMessage">
    <div class="row">

      <div class="col-md-2">
        <button class="btn btn-primary"
                [routerLink]="['/empresas', 0, 'editar']" >+ Empresa</button>
      </div>

      <div class="col-md-2">Filtrar por:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]='listFilter'/>
      </div>
    </div>

    <div class="table-responsive" *ngIf='clients.length'>
      <table class="table" >
        <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Dirección</th>
            <th>Código Postal</th>
            <th>Registro</th>
            <th>Precio</th>
            <th>Sig. Lavado (Tanque)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let client of filteredClients'>
            <td>
              <button class="btn btn-outline-secondary btn-sm"
                      [routerLink]="['/empresas', client.clientId, 'pedidos', 0, 'editar']">
                Crear Pedido
              </button>
            </td>
            <td>
              <a [routerLink]="['/empresas', client.clientId]">
                {{ client.clientName }}
              </a>
            </td>
            <td>{{ client.clientTel }} </td>
            <td>{{ (client.clientNeighborhood == "" ? "--" : client.clientNeighborhood) + ', '
              + (client.clientStreet == "" ? "--" : client.clientStreet) + ', '
              + (client.clientNoInt == "" ? "--" : client.clientNoInt) + ', '
              + (client.clientNoOut == "" ? "--" : client.clientNoOut) }} </td>
            <td>{{ client.clientCp }} </td>
            <td>{{ client.clientRegistration | date:'mediumDate':'':'es' }} </td>
            <td>{{ client.clientPrice }} </td>
            <td>{{ client.clientNextClean  | date:'mediumDate':'':'es' }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>

</div>