<div class="card container">

  <div class='card-header' *ngIf="client">
    <h3>
      <strong>
        {{pageTitle + ": " + client.clientName}}
      </strong>
    </h3>
  </div>

  <div class='card-body' *ngIf="client">

    <div style="text-align: left;">

      <div class="row">
        <div class="col-md-3">Código</div>
        <div class="col-md-6">{{client.clientCode}}</div>
      </div>

      <div class="row">
        <div class="col-md-3">Número de Factura:</div>
        <div class="col-md-6">{{client.clientInvoice}}</div>
      </div>

      <div class="row">
        <div class="col-md-3">Nombre:</div>
        <div class="col-md-6">{{client.clientName}}</div>
      </div>

      <div class="row">
        <div class="col-md-3"> RFC: </div>
        <div class="col-md-6">{{client.clientRfc}}</div>
      </div>

      <div class="row">
        <div class="col-md-3">Teléfono:</div>
        <div class="col-md-6">{{client.clientTel}}</div>
      </div>

      <div class="row">
        <div class="col-md-3">Colonia: </div>
        <div class="col-md-6">{{client.clientNeighborhood}}</div>
      </div>

      <div class="row">
        <div class="col-md-3">Calle:</div>
        <div class="col-md-6">{{client.clientStreet}}</div>
      </div>

      <div class="row">
        <div class="col-md-3">Número de Interior:</div>
        <div class="col-md-6">{{client.clientNoInt}}</div>
      </div>

      <div class="row">
        <div class="col-md-3">Número Exterior:</div>
        <div class="col-md-6">{{client.clientNoOut}}</div>
      </div>

      <div class="row">
        <div class="col-md-3">Código Postal:</div>
        <div class="col-md-6">{{client.clientCp}}</div>
      </div>

      <div class="row">
        <div class="col-md-3">Fecha de Registro:</div>
        <div class="col-md-6">{{client.clientRegistration | date}}</div>
      </div>

      <div class="row">
        <div class="col-md-3">Status:</div>
        <div class="col-md-6">{{client.clientStatus}}</div>
      </div>

      <div class="row">
        <div class="col-md-3">Tipo de Precio:</div>
        <div class="col-md-6">{{client.clientPrice}}</div>
      </div>

      <div class="row">
        <div class="col-md-3">Fecha sig. lavado (Tanque) :</div>
        <div class="col-md-6">{{client.clientNextClean | date}}</div>
      </div>
    </div>

  </div>

  <div class="card-footer">
    <div class='row'>
      <div class="col-md-2" *ngIf="client">
        <button class="btn btn-outline-primary"
                [routerLink]="['/empresas', client.clientId, 'editar']">Editar</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-secondary" routerLink="/empresas">Regresar</button>
      </div>
      <div class="col-md-2" *ngIf="client">
        <button class="btn btn-outline-warning" (click)="deleteClient()">Borrar</button>
      </div>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>

</div>
