<div class="card container">

  <div class='card-header'>
    <strong>
      {{pageTitle}}
    </strong>
  </div>

  <div class='card-body'>

    <div class="row">
      <div class="col-md-2">
        <label>Código:</label>
      </div>
      <div class="col-md-6">
        <input type="text" [(ngModel)]='client.clientCode'>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Número de Factura:</label>
      </div>
      <div class="col-md-6">
        <input type="text" [(ngModel)]='client.clientInvoice'>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Nombre:</label>
      </div>
      <div class="col-md-6">
        <input type="text" [(ngModel)]='client.clientName'>
      </div>
    </div>
    
    <br>
    <div class="row">
      <div class="col-md-2">
        <label>RFC:</label>
      </div>
      <div class="col-md-6">
        <input type="text" [(ngModel)]='client.clientRfc'>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Teléfono:</label>
      </div>
      <div class="col-md-6">
        <input type="text" [(ngModel)]='client.clientTel'>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Colonia:</label>
      </div>
      <div class="col-md-6">
        <input type="text" [(ngModel)]='client.clientNeighborhood'>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Calle:</label>
      </div>
      <div class="col-md-6">
        <input type="text" [(ngModel)]='client.clientStreet'>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Número de Interior:</label>
      </div>
      <div class="col-md-6">
        <input type="text" [(ngModel)]='client.clientNoInt'>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Número Exterior:</label>
      </div>
      <div class="col-md-6">
        <input type="text" [(ngModel)]='client.clientNoOut'>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Código Postal:</label>
      </div>
      <div class="col-md-6">
        <input type="text" [(ngModel)]='client.clientCp'>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Fecha de Registro:</label>
      </div>
      <div class="col-md-6">
        <input type="date" [(ngModel)]='client.clientRegistration'>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Status:</label>
      </div>
      <div class="col-md-6">
        <input type="checkbox" [(ngModel)]='client.clientStatus'>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Tipo de Precio:</label>
      </div>
      <div class="col-md-6">
        <input type="text" [(ngModel)]='client.clientPrice'>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Fecha sig. lavado (Tanque) :</label>
      </div>
      <div class="col-md-6">
        <input type="date" [(ngModel)]='client.clientNextClean'>
      </div>
    </div>

  </div>

  <div class="card-footer">
    <div class='row'>
      <div class="col-md-2">
        <button class="btn btn-primary" (click)='onSave()'>Guardar</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-secondary" (click)='onBack()'>Regresar</button>
      </div>
    </div>
  </div>

</div>
