<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>

  <div class='card-body'>
    <div class="row">

      <div class="col-md-2">
        <button class="btn btn-primary" >Agregar Empresa</button>
      </div>

      <div class="col-md-2">Filtrar por:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]='listFilter'/>
      </div>
    </div>

    <div class="table-responsive" *ngIf='clients.length'>
      <table class="table" >
        <thead>
          <tr>
            <th></th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Factura</th>
            <th>RFC</th>
            <th>Telefono</th>
            <th>Dirección</th>
            <th>Código Postal</th>
            <th>Registro</th>
            <th>Precio</th>
            <th>Sig. Lavado (Tanque)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let client of filteredClients'>
            <td>
              <button class="btn btn-outline-secondary btn-sm"
                      [routerLink]="['/empresas', client.clientId, 'pedidos', 0, 'editar']">
                Crear Pedido
              </button>
            </td>
            <td>{{ client.clientCode }}</td>
            <td>
              <a [routerLink]="['/empresas', client.clientId]">
                {{ client.clientName }}
              </a>
            </td>
            <td>{{ client.clientInvoice }} </td>
            <td>{{ client.clientRfc }} </td>
            <td>{{ client.clientTel }} </td>
            <td>{{ client.clientNeighborhood + ', ' + client.clientStreet + ', ' + client.clientNoInt + ', ' + client.clientNoOut}} </td>
            <td>{{ client.clientCp }} </td>
            <td>{{ client.clientRegistration | date:'mediumDate':'':'es' }} </td>
            <td>{{ client.clientPrice }} </td>
            <td>{{ client.clientNextClean  | date:'mediumDate':'':'es' }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>