<div class="card">
  <div class="card-header">
    <h3>
    {{ pageTitle }}
    </h3>
  </div>

  <div class="card-body" *ngIf="!errorMessage">
    <div class="row">

      <div class="col-md-2">
        <button class="btn btn-primary" 
                [routerLink]="['/contactos', 0, 'editar']">+ Contacto</button>
      </div>

      <div class="col-md-2">Filtar por:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]='listFilter'/>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table" *ngIf='contacts.length'>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Celular</th>
            <th>Casa</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let contact of filteredContacts'>
            <td>
              <a [routerLink]="['/contactos', contact.contactId]">
                {{ contact.contactName}}
              </a>
            </td>
            <td> {{ contact.contactLastName }} </td>
            <td> {{ contact.contactSurName }} </td>
            <td> {{ contact.contactPhone }} </td>
            <td> {{ contact.contactTel }} </td>
            <td> {{ contact.contactEmail }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
</div>