<div class="card">
  <div class="card-header">
    <strong>
    {{pageTitle}}
    </strong>
  </div>

  <div class="card-body">
    <form novalidate 
          (ngSubmit)="saveContact()"
          [formGroup]="contactForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="contactNameId">Nombre:</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="contactNameId"
                 type="text"
                 required
                 placeholder="Nombre (requerido)"
                 formControlName="contactName"
                 [ngClass]="{'is-invalid': (contactForm.get('contactName')?.touched ||
                                contactForm.get('contactName')?.dirty) &&
                                !contactForm.get('contactName')?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="contactForm.controls['contactName'].errors?.required">
              Nombre requerido
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="contactLastNameId">Apellido Paterno:</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="contactLastNameId"
                 type="text"
                 placeholder="Apellido Paterno (requerido)"
                 formControlName="contactLastName"
                 [ngClass]="{'is-invalid': (contactForm.get('contactLastName')?.touched ||
                                contactForm.get('contactLastName')?.dirty) &&
                                !contactForm.get('contactLastName')?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="contactForm.controls['contactLastName'].errors?.required">
              Apellido Paterno requerido
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="contactSurNameId">Apellido Materno:</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="contactSurNameId"
                 type="text"
                 placeholder="Apellido Materno"
                 formControlName="contactSurName" />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="contactPhoneId">Tel Cell:</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="contactPhoneId"
                 type="text"
                 placeholder="Tel Cell"
                 formControlName="contactPhone"/>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="contactTelId">Tel Casa:</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="contactTelId"
                 type="text"
                 placeholder="Tel Casa"
                 formControlName="contactTel" />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="contactEmailId">Correo:</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="contactEmailId"
                 type="text"
                 placeholder="Correo (Email)"
                 formControlName="contactEmail"
                 [ngClass]="{'is-invalid': (contactForm.get('contactEmail')?.touched ||
                 contactForm.get('contactEmail')?.dirty) &&
                 !contactForm.get('contactEmail')?.valid }"/>
          <span class="invalid-feedback">
            <span *ngIf="contactForm.controls['contactEmail'].errors?.email">
              correo no válido
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="contactForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!contactForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/contactos']">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this Contact"
                  (click)="deleteContact()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger" 
      *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>