<div class="card container">

  <div class="card-header" *ngIf="contact">
    <strong>
      {{pageTitle + ": " + contact.contactName}}
    </strong>
  </div>

  <div class='card-body' *ngIf="contact">

    <div class="row">
      <div class="col-md-2">Nombre:</div>
      <div class="col-md-6"> {{contact.contactName}} </div>
    </div>

    <div class="row">
      <div class="col-md-2"> Apelligo Paterno:</div>
      <div class="col-md-6">{{contact.contactLastName}}</div>
    </div>

    <div class="row">
      <div class="col-md-2">Apellido Materno:</div>
      <div class="col-md-6">{{contact.contactSurName}}</div>
    </div>

    <div class="row">
      <div class="col-md-2">Celular:</div>
      <div class="col-md-6">{{contact.contactPhone}}</div>
    </div>

    <div class="row">
      <div class="col-md-2">Número de Casa:</div>
      <div class="col-md-6">{{contact.contactTel}}</div>
    </div>

    <div class="row">
      <div class="col-md-2">Email:</div>
      <div class="col-md-6">{{contact.contactEmail}}</div>
    </div>

  </div>

  <div class="card-footer">
    <div class='row'>
      <div class="col-md-2">
        <button class="btn btn-outline-primary" >Editar</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-outline-secondary" routerLink="/contactos">Regresar</button>
      </div>
    </div>
  </div>


  <div class="alert alert-danger" *ngIf="errorMessage">
  {{errorMessage}}
  </div>

</div>
