<div class="card container">

  <div class='card-header'>
    {{pageTitle}}
  </div>

  <div class='card-body'>

    <!-- todo: maybe show this value as part of the card-header? -->
     <div class="row">
      <div class="col-md-2">
        <label>Número Pedido:</label>
      </div>
      <div class="col-md-6">
        <input type="text">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Nombre Empresa:</label>
      </div>
      <div class="col-md-6">
        <input type="text">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Chofer:</label>
      </div>
      <div class="col-md-6">
        <input type="text">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Registro:</label>
      </div>
      <div class="col-md-6">
        <input type="date">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Entrega:</label>
      </div>
      <div class="col-md-6">
        <input type="date">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Status:</label>
      </div>
      <div class="col-md-6">
        <input type="text">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Prioridad:</label>
      </div>
      <div class="col-md-6">
        <input type="text">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Activa:</label>
      </div>
      <div class="col-md-6">
        <input type="checkbox">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2">
        <label>Obsevaciones:</label>
      </div>
      <div class="col-md-6">
        <textarea></textarea>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class='row'>
      <div class="col-md-2">
        <button class="btn btn-primary" (click)='onSave()'>Guardar</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-secondary" (click)='onBack()'>Regresar</button>
      </div>
    </div>
  </div>

  </div>

