<div class="card">
  <div class="card-header">
    <h3>
      {{ pageTitle }}
    </h3>
  </div>

  <div class="card-body">

    <div class="row">
      <div class="col-md-2">Filtart por: </div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]='listFilter'/>
      </div>
      <span class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </span>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Pedido</th>
            <th>Empresa</th>
            <th>Chofer</th>
            <th>Registro</th>
            <th>Entrega</th>
            <th>Status</th>
            <th>Prioridad</th>
            <th>Observaciones</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let order of filteredOrders'>
            <td>
              <button *ngIf="!order.note"
                      class="btn btn-outline-primary btn-sm"
                      [routerLink]="['/pedidos', order.orderId, 'notas', 0, 'editar']">
              Crear Nota </button>
              <button *ngIf="order.note"
                      class="btn btn-link btn-sm"
                      [routerLink]="['/pedidos', order.orderId, 'notas', order.noteId]">
              {{order.note}} </button>
            </td>
            <td>
              {{order.orderId}}
              <!-- <a [routerLink]="['/pedidos',order.orderId]"> -->
                <!-- {{order.orderId}} -->
              <!-- </a> -->
            </td>
            <td>{{order.clientName}}</td>
            <td>{{order.employeeName}}</td>
            <td>{{order.registration | date: 'medium' }}</td>
            <td>{{order.delivery | date: 'mediumDate'}}</td>
            <td>{{order.notificationDescr}}</td>
            <td>{{order.priorityDescr}}</td>
            <td>{{order.comments}}</td>
            <td>
              <button class="btn btn-danger btn-sm"
                      (click)='deleteOrder(order.orderId)' *ngIf="!order.note">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>