<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-primary" (click)='onAddClick()'>Agregar Pedido</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Pedido</th>
            <th>Empresa</th>
            <th>Chofer</th>
            <th>Registro</th>
            <th>Entrega</th>
            <th>Status</th>
            <th>Prioridad</th>
            <th>Observaciones</th>
            <th>btn eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>