<div class="card">
  <div class="card-header">
    <h3>
      {{ pageTitle }}
    </h3>
  </div>

  <div class="card-body" >

    <div class="row" *ngIf="!errorMessage && orderList.length > 0">
      <div class="col-md-2">Filtart por: </div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]='listFilter'/>
      </div>
    </div>

    <div class="table-responsive" *ngIf="filteredOrders.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Pedido</th>
            <th>Empresa</th>
            <th>Chofer</th>
            <th>Registro</th>
            <th>Entrega</th>
            <th>Status</th>
            <th>Prioridad</th>
            <th>Observaciones</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let order of filteredOrders'>
            <td style="width: 115px;">
              <button *ngIf="!order.note"
                      class="btn btn-outline-primary btn-sm"
                      [routerLink]="['/pedidos', order.orderId, 'notas', 0, 'editar']">
              Crear Nota </button>
              <button *ngIf="order.note"
                      class="btn btn-link btn-sm"
                      [routerLink]="['/pedidos', order.orderId, 'notas', order.noteId]">
              {{order.note}} </button>
            </td>
            <td>
              <a [routerLink]="['/empresas', order.clientId, 'pedidos', order.orderId, 'editar']">
                {{order.orderId}}
              </a>
            </td>
            <td style="width: 220px;">{{order.clientName}}</td>
            <td style="width: 220px;">{{order.employeeName}}</td>
            <td style="width: 150px;">{{order.registration | date: 'medium': '': 'es' }}</td>
            <td style="width: 110px;">{{order.delivery | date: 'mediumDate': '': 'es'}}</td>
            <td>{{order.notificationDescr}}</td>
            <td>{{order.priorityDescr}}</td>
            <td>{{order.comments}}</td>
            <td>
              <button class="btn btn-danger btn-sm"
                      (click)='deleteOrder(order.orderId)' *ngIf="!order.note">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alert alert-warning" *ngIf="!errorMessage && orderList.length == 0">
    <p>No Hay Pedidos</p>
    <p>
      Ir a <strong><a routerLink="/empresas">Empresas</a></strong> para crear pedidos!
    </p>
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
</div>