<div>

  <div style="text-align: center;">
    <h1>
      {{title}}
    </h1>
  </div>

  <nav class="navbar" *ngIf="isLoggedIn$ | async" >
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link" routerLink="/inicio">Inicio</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/empresas">Empresas</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/contactos">Contactos</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/pedidos">Pedidos</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/notas">Notas</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/precios">Precio Granel</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/empleados">Trabajadores</a></li>
    </ul>
    <button class="btn btn-outline-danger"
          (click)="logout()">Salir del Sistema!</button>
  </nav>

  <div style="text-align: center;">
    <router-outlet></router-outlet>
  </div>

</div>
