<div class="card container">
  <div class="card-header">
    <h3>
      <strong>
        {{pageTitle}}
      </strong>
    </h3>
  </div>

  <div class="row" style="margin-top: 50px;" *ngIf="!note">
    <h5>
      Cargando...
    </h5>
  </div>

  <div class="card-body" *ngIf="note">
    <form novalidate (ngSubmit)="saveNote()" [formGroup]="noteForm" >

      <div *ngIf="client">
        <div class="row align-items-center mb-2">
          <h5 class="col">Pedido:{{order.orderId}}</h5>
          <h5 class="col">Empresa: {{client.clientName}}</h5>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="noteEmployeeId">Chofer:</label>
          <div class="col-md-10">
            <div class="aler alert-warning" *ngIf="editNote == true">{{note.employeeName}}</div>
            <select id="noteEmployeeId"
                    *ngIf="editNote == false"
                    formControlName="noteEmployee"
                    class="form-control"
                    required
                    (change)="onChangeEmployee()">
              <option [ngValue]='null' disabled>Seleccionar Chofer</option>
              <option *ngFor="let e of employeeList" [ngValue]="e">
                {{e.employeeName}} ==== secuencia: {{e.note}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="noteRegistrationId">Registro:</label>
          <div class="col-md-6">
            <input class="form-control" id="noteRegistrationId" type="date" formControlName="registrationDate" />
          </div>

          <div class="col-md-2">
            <div class="form-check form-switch">
              <input class="form-check-input form-control" type="checkbox" formControlName="credit" id="noteCreditId">
              <label class="form-check-label" for="noteCreditId">
                Crédito
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="noteInitialDataId">Lectura Inicial:</label>
          <div class="col-md-4">
            <input class="form-control" id="noteInitialDataId" type="text" placeholder="Lectura Inicial (requerido)"
              (change)="onInitialData()" formControlName="initialData" [ngClass]="{'is-invalid': (noteForm.get('initialData')?.touched ||
                                noteForm.get('initialData')?.dirty) &&
                                !noteForm.get('initialData')?.valid }" />
            <span class="invalid-feedback">
              <span *ngIf="noteForm.controls['initialData'].errors?.required">
                Lectura Inicial requerido
              </span>
              <span *ngIf="noteForm.controls['initialData'].errors?.number">
                Solo numeros
              </span>
              <span *ngIf="noteForm.controls['initialData'].errors?.invalidinitialdata">
                Lectura inicial no puede ser mayor que la final
              </span>
            </span>
          </div>

          <label class="col-md-2 col-form-label" for="noteFinalDataId">Lectura Final:</label>
          <div class="col-md-4">
            <input class="form-control" id="noteFinalDataId" type="text" placeholder="Lectura Final (requerido)"
              formControlName="finalData" (change)="onFinalData()" [ngClass]="{'is-invalid': (noteForm.get('finalData')?.touched ||
                                noteForm.get('finalData')?.dirty) &&
                                !noteForm.get('finalData')?.valid }" />
            <span class="invalid-feedback">
              <span *ngIf="noteForm.controls['finalData'].errors?.required">
                Lectura Final requerido
              </span>
            </span>
          </div>
        </div>

        <div class="row mb-2 align-items-center">
          <p class="col">Galones: {{totalData == null ? 0 : totalData}}</p>
          <p class="col">Total: {{total == null ? 0 : total}}</p>
          <div class="col">Empresa Precio: {{client.clientPrice}}</div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="noteDiscountId">Galones Descontados:</label>
          <div class="col-md-8">
            <input class="form-control" id="noteDiscountId" type="text" placeholder="cuantos galones? (opcional)"
              (change)="onNoteDiscount()" formControlName="discount" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="noteDiscountDescriptionId">Por qué se descuenta?:</label>
          <div class="col-md-8">
            <textarea class="form-control" id="noteDiscountDescriptionId" type="text"
              formControlName="discountDescription"></textarea>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="noteArrivalId">Llegada:</label>
          <div class="col-md-8">
            <input class="form-control" id="noteArrivalId" type="text" formControlName="arrival"
            [ngClass]="{'is-invalid': (noteForm.get('arrival')?.touched ||
                                noteForm.get('arrival')?.dirty) &&
                                !noteForm.get('arrival')?.valid }"/>
            <span class="invalid-feedback">
              <span *ngIf="noteForm.controls['arrival'].errors?.maxlength">
                No se permite mas de 5 caracteres
              </span>
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="noteLoadId">Descarga:</label>
          <div class="col-md-8">
            <input class="form-control" id="noteLoadId" type="text" formControlName="load"
                        [ngClass]="{'is-invalid': (noteForm.get('load')?.touched ||
                                noteForm.get('load')?.dirty) &&
                                !noteForm.get('load')?.valid }"/>
            <span class="invalid-feedback">
              <span *ngIf="noteForm.controls['load'].errors?.maxlength">
                No se permite mas de 5 caracteres
              </span>
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="noteDepartureId">Salida:</label>
          <div class="col-md-8">
            <input class="form-control" id="noteDepartureId" type="text" formControlName="departure"
                                   [ngClass]="{'is-invalid': (noteForm.get('departure')?.touched ||
                                noteForm.get('departure')?.dirty) &&
                                !noteForm.get('departure')?.valid }"/>
            <span class="invalid-feedback">
              <span *ngIf="noteForm.controls['departure'].errors?.maxlength">
                No se permite mas de 5 caracteres
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3" style="width:100px;" type="submit"
            [title]="noteForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
            [disabled]="!noteForm.valid">
           Guardar
          </button>
          <button class="btn btn-outline-secondary mr-3" style="width:100px;" type="button" title="Cancel your edits"
            [routerLink]="['/pedidos']">
            Cancelar
          </button>
          <button class="btn btn-outline-danger mr-3" style="width:140px;" type="button" title="Cancel Nota"
            (click)="deleteNote()"
            *ngIf="editNote == false">
            Cancelar Nota
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
</div>