<div class="card">
  <div class="card-header">
    <h3>
    {{ pageTitle }}
    </h3>
  </div>

  <div class="card-body">

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nota</th>
            <th>Pedido</th>
            <th>Tienda</th>
            <th>Chofer</th>
            <th>Registro</th>
            <th>Galones</th>
            <th>Total</th>
            <th>Crédito</th>
            <th>Deuda</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let n of notesList">
            <!-- <td>
              <a [routerLink]="['/notas', n.noteId]">{{ n.note }}</a>
            </td> -->
            <td >
              <strong>
                {{n.note}}
              </strong>
            </td>
            <td>{{ n.orderId }}</td>
            <td>{{ n.clientName }}</td>
            <td>{{ n.employeeName }}</td>
            <td>{{ n.registration | date: 'medium' }}</td>
            <td>{{ n.liters }}</td>
            <td>{{ n.total }}</td>
            <td>{{ n.credit }}</td>
            <td>{{ n.debt }}</td>
            <td><button class="btn btn-outline-success btn-sm"
                        [routerLink]="['/notas', n.noteId, 'abonos', 0, 'editar']">
              Abonar
            </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>