<div class="card">
  <div class="card-header">
    <h3>
    {{ pageTitle }}
    </h3>
  </div>

  <div class="card-body">

    <div class="table-responsive" *ngIf="notesList.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>Nota</th>
            <th>Pedido</th>
            <th>Empresa / Tienda</th>
            <th>Chofer</th>
            <th>Registro</th>
            <th>Crédito</th>
            <th>Galones</th>
            <th>Total</th>
            <th>Deuda</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let n of notesList">
            <td>
              <a [routerLink]="['/pedidos', n.orderId, 'notas', n.noteId]">{{ n.note }}</a>
            </td>
            <td>{{ n.orderId }}</td>
            <td>{{ n.clientName }}</td>
            <td>{{ n.employeeName }}</td>
            <td>{{ n.registration | date: 'medium' }}</td>
            <td>{{ n.credit ? "Crédito" : "Contado" }}</td>
            <td>{{ n.liters }}</td>
            <td>{{ n.total }}</td>
            <td>{{ n.debt }}</td>
            <td><button class="btn btn-outline-success btn-sm"
                        [routerLink]="['/notas', n.noteId, 'abonos', 0, 'editar']">
              Abonar
            </button></td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="deleteNote(n.noteId)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alert alert-warning" *ngIf="!errorMessage && notesList.length == 0">
    <p>No hay Notas!</p>
    <p>Ir a <strong><a routerLink="/pedidos">Pedidos</a></strong> para crear Notas</p>
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
</div>